body {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 99%;
  min-height: 100%;
}

img {
  display: block;
}

#maintitle {
  font-size: 120px;
  font-style: italic;
  font-weight: 300;
  margin: 0%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#maintitletwo {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#maintitlethree {
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 10px;
  color: rgb(255, 240, 153);
  font-style: italic;
  font-weight: 500px;
}

.container {
  width: 95%;
  margin: auto;
}

.section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../wdimages/mainpic.jpg") 100% 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.websitelogo {
  width: 130px;
  height: 130px;
}

.flexwrapperlogonav {
  display: flex;
  background: rgba(0, 0, 0, 0.531);
  border-bottom: white 2px solid;
  align-items: center;
  padding: 0px 30px;
}

.navbar {
  flex: 1;
  margin-left: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navbar a {
  text-decoration: none;
  color: rgb(176, 220, 255);
  display: inline-block;
  margin-right: 20px;
}

.navbar a::after {
  content: "";
  height: 1px;
  display: block;
  background: rgb(199, 95, 95);
  width: 0%;
  margin-left: 1px;
}

.navbar a:hover::after {
  width: 98%;
  transition: 1s;
  margin: auto;
}

.navbar li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fa-search {
  color: white;
}

.placeholder {
  border: none;
  background: transparent;
  width: 150px;
  font-size: 16px;
  color: white;
}

.placeholder:focus {
  outline: none;
}

.searchbar {
  border: rgb(255, 255, 255) 3px solid;
  padding: 6px;
  background: transparent;
  border-radius: 50px;
}

.headertext {
  font-style: italic;
  color: white;
  padding-left: 50px;
}

.quoter {
  text-align: right;
  padding-right: 38px;
}

.homedisplay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: white;
  z-index: -1;
}

.displaytext {
  width: 100%;
}

.homedisplaybtns {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#homedisplaybtn1 {
  margin-right: 200px;
}

#homedisplaybtn1,
#homedisplaybtn2 {
  background: linear-gradient(rgba(50, 131, 201, 0.9), rgba(58, 94, 204, 0.7));
  border-radius: 30px;
}

#homedisplaybtn1 a,
#homedisplaybtn2 a {
  display: inline-block;
  width: 200px;
  padding: 25px 0px;
  text-decoration: none;
  color: white;
}

#homedisplaybtn1:hover,
#homedisplaybtn2:hover {
  transition: 1s;
  background: white;
}

#homedisplaybtn1 a:hover,
#homedisplaybtn2 a:hover {
  color: black;
  transition: 3s;
}

.section20 {
  overflow: hidden;
  background: url("../wdimages/section20.jpg") no-repeat 100% 100%;
  background-size: cover;
}

.flexwrapper20 {
  display: flex;
  justify-content: center;
}

.section20 img {
  width: 100%;
  max-width: 900px;
  display: block;
}

.section20learnmore a {
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  display: inline-block;
}

.section20learnmore {
  border: 1px white solid;
  display: inline-block;
  background: rgba(0, 0, 0, 0.59);
}

.section20learnmoretype1 {
  border: 1px solid rgb(255, 255, 255);
}

.section20learnmore:hover {
  background: white;
  transition: 1s;
}

.section20learnmore a:hover {
  color: black;
  transition: 3s;
}

.leftsection20 {
  width: 50%;
}

.rightsection20 {
  width: 50%;
}

.leftupper {
  background: rgb(240, 240, 240, 0.97);
}

.leftlower {
  background: rgba(0, 0, 0, 0.84);
  color: rgb(46, 160, 61);
  height: 100%;
}

.rightupper {
  background: rgb(255, 235, 205, 0.94);
}

.rightlower {
  background: rgb(35, 35, 46, 0.96);
  color: rgb(190, 176, 135);
}

.box20 {
  padding: 40px;
}

.learnmorealign {
  text-align: right;
  padding-right: 5%;
  padding-top: 10px;
}

.kakucontainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section1p5 {
  background: url("../wdimages/michiokaku.jpg") no-repeat 100% 40%;
  background-size: cover;
  height: 1000px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.section1p5 h3 {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}

.section1p5 h2 {
  font-size: 70px;
  margin-bottom: 0;
  font-weight: 400;
  margin-top: -10px;
}

.kakutitle {
  margin-bottom: 25px;
  font-style: italic;
  margin-top: 0%;
  font-size: 14px;
  padding-left: 5px;
}

.s1p5text {
  color: white;
  background: linear-gradient(to right, rgba(0, 0, 0, 8), rgba(0, 0, 0, 0.2));
  width: 40%;
  max-height: 976px;
  padding: 20px;
  box-sizing: border-box;
  min-width: 200px;
}

.kakureadmorealign {
  text-align: center;
  margin-top: 50px;
}

.kakureadmore a {
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
  color: white;
}

.kakureadmore {
  border: white 1px solid;
  display: inline-block;
  background: rgba(228, 247, 240, 0.151);
}

.kakureadmore a:hover {
  color: black;
  transition: 4s ease-in;
}

.kakureadmore a:hover {
  background: white;
  transition: 2s;
}

.section1p9 {
  background: rgb(10, 10, 10);
  color: white;

  width: 90%;
}

.section1p9 img {
  width: 600px;
  height: auto;
}

#keanu {
  height: 400px;
}

.flexwrapper1p9 {
  display: flex;
  flex: 1;
}

.s1p9readmoretype2 {
  margin-bottom: 30px;
}

#s1p9img1 {
  width: 900px;
}

.s1p9one {
  padding: 30px;
  flex: 0;
}

.money {
  text-align: center;
}
.s1p9readmore a {
  text-decoration: none;
  color: white;
  padding: 30px;
  display: inline-block;
}

.s1p9readmore {
  border: 2px white solid;
  display: inline-block;
}

.s1p9readmore i {
  margin-left: 10px;
}

.s1p9readmore a:hover {
  color: black;
  transition: 1s;
}

.s1p9readmore:hover {
  background: white;
  transition: 0.5s;
}

.twothreeconnect {
  padding: 30px;
  text-align: center;
}

.twothreeconnect img {
  text-align: center;
}

#s1p9img2 {
  width: 650px;
  width: 650px;
}

.inner1p9 {
  display: flex;
}

.innertext {
  padding-left: 30px;
}

.section3 img {
  width: 470px;
  height: 330px;
}

.section3 {
  background: linear-gradient(rgba(19, 20, 0, 0.4), rgba(19, 20, 0, 0.4)),
    url("../wdimages/goodtree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

.s3sqtext h4 {
  font-size: 26px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.s3sqtext span {
  font-size: 13px;
  font-weight: 300;
  padding-left: 10px;
  font-style: italic;
}

.s3title {
  color: white;
  text-align: center;
}

.s3title h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(255, 255, 241);
  font-size: 50px;
  margin: 0;
  margin-top: 60px;
}

.s3title p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.s3alignbtn {
  text-align: center;
  margin-top: -10px;
}

.sqtype1 .fa-external-link-alt {
  color: black;
}

.sqtype1 .s3btncontain a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  display: inline-block;
}

.sqtype1 .s3btncontain {
  display: inline-block;
  border: rgba(0, 0, 0, 0.517) 2px solid;
}

.sqtype2 .s3btncontain a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.sqtype2 .s3btncontain {
  border: 2px rgba(255, 255, 255, 0.537) solid;
  display: inline-block;
}

.sqtype1 .s3btncontain:hover {
  background: black;
  transition: 1s;
}

.sqtype1 .s3btncontain a:hover {
  color: white;
  transition: 4s;
}

.sqtype2 .s3btncontain:hover {
  background: white;
  transition: 1s;
}

.sqtype2 .s3btncontain a:hover {
  color: black;
  transition: 4s;
}

.s3btncontain {
  margin: 0px 15px;
}

.alteradjust {
  padding-bottom: 10px;
}

.myrvaadjust {
  padding-bottom: 10px;
}

.multiplecontain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sq {
  flex: 0;
  margin: 10px 30px;
  border-radius: 20px;
}

.sqtype1 {
  background: white;
}

.sqtype2 {
  background: rgb(14, 14, 14);
  color: white;
}

.s3sqtext {
  padding: 15px;
}

.section4 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.postgraduatesection {
  background: rgb(20, 20, 20);
  color: white;
  padding-bottom: 30px;
  border-radius: 20px;
}

.postgraduatesection a {
  text-decoration: none;
  color: white;
}

.postflexwrapper {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 30;
}

.postbox {
  width: 17%;
  border: 1px white solid;
  padding: 20px;
  margin: 10px 20px;
}

.postlinks {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.postboxviewmore {
  width: 80%;
}

.postviewflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posttitle {
  text-align: center;
  padding: 40px 20px 15px 20px;
}

.postbox:hover {
  background: white;
  transition: 1s;
}

.postbox a:hover {
  color: black;
  transition: 4s;
}

.addwrap {
  background: red;
  display: flex;
  justify-content: space-around;
}

.addbox {
  width: 30%;
}

.linkbox {
  display: block;
}

.addboxlink {
  display: inline-block;
  height: 100%;
}

.undergraduatesection {
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.underbox:hover {
  background: black;
  transition: 1s;
}

.underbox a:hover {
  color: white;
  transition: 4s;
}

.undergraduatesection a {
  text-decoration: none;
  color: black;
}

.underflexcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.undertitle {
  text-align: center;
  padding-bottom: 15px;
}

.undertitle h3 {
  font-size: 30px;
  margin: 0;
}

.posttitle h3 {
  font-size: 30px;
  margin: 0;
}

.underbox {
  width: 20%;
  border: 1px black solid;
  padding: 20px;
  margin: 10px 20px;
  box-sizing: border-box;
}

.underlink {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.s4viewmore {
  width: 80%;
}

.viewmoreflexcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.minor1bround {
  padding: 20px;
  background: beige;
}

.section30title {
  margin: 0%;
  padding-top: 60px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(255, 255, 241);
}

.section30 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../wdimages/inside.jpg") no-repeat center;
  background-size: cover;
  color: white;
  padding-bottom: 50px;
  text-align: center;
}

.section30 p {
  font-size: 20px;
  margin-top: 20px;
}

.flexwrapper30 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box30 h3 {
  margin: 0%;
  margin-top: 20px;
}

.box30 {
  background: white;
  width: 23%;
  text-align: center;
  color: black;
  padding-bottom: 20px;
  border-radius: 20%;
  overflow: hidden;
}

.box30 p {
  padding: 10px;
  margin: 0%;
}

.box30rfindoutmore a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 10px 40px;
}

.box30rfindoutmore {
  background: rgba(0, 0, 0, 0);
  border: 2px rgba(109, 124, 212, 0.226) solid;
  display: inline-block;
  border-radius: 36%;
}

.box30rfindoutmore:hover {
  background: rgba(109, 124, 212, 0.829);
  transition: 1s;
}

.section30 img {
  width: 100%;
  border-radius: 20%;
  border-right: 1px white solid;
}

.section40 {
  background: linear-gradient(rgba(190, 190, 190, 0.829), rgba(0, 0, 0, 0.5)),
    url("../wdimages/whereweare.jpg") no-repeat 100% 68%;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 100px 0px;
}

.section40 h3 {
  text-align: center;
  color: rgb(255, 255, 202);
  margin-top: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  margin: 0;
}

.section40 p {
  margin-top: 20px;
}

.section40 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.package40 img {
  width: 400px;
  height: 100%;
}

.package40 {
  position: relative;
  display: inline-block;
  margin: 0px auto 50px auto;
  border-radius: 20%;
  overflow: hidden;
  border: rgb(255, 255, 255) 2px solid;
  margin-right: 20px;
}

.overlay40 p {
  font-size: 40px;
}

.overlay40 {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.61);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.overlay40 > * {
  transform: translateY(100px);
}

.overlay40:hover > * {
  transform: translateY(0px);
  transition: 2s;
}

.overlay40:hover {
  opacity: 1;
  transition: 1s;
  border-radius: 19.7%;
}

.flexwrapper40 {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.blur {
  backdrop-filter: blur(5px);
}

.section5 {
  background: url("../wdimages/lastsection.jpg") no-repeat center;
  background-size: cover;
}

.section5 img {
  display: block;
  max-width: 900px;
  width: 100%;
}

.section5flex {
  display: flex;
  justify-content: center;
}

.leftsection5 {
  width: 50%;
}

.rightsection5 {
  width: 50%;
}

.rightsection5 {
  margin-left: 10px;
}

.section5leftupper {
  background: white;
}

.section5links a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 30px;
}

.section5links div {
  border: 2px black solid;
}

.section5links {
  padding: 15px 10px 30px 10px;
}

.section5boxtext h3,
p {
  margin: 0%;
}

.section5links div:hover {
  background: rgb(250, 235, 173);
  transition: 2s;
}

.section5boxtext h3,
p {
  padding: 10px 20px;
}

.section5boxtext h3 {
  padding-top: 30px;
}

#bottomtables5 a {
  color: white;
}

#bottomtables5 div {
  border: 2px white solid;
}

#bottomtables5 a:hover {
  color: black;
  transition: 1s;
}

.righttopsection5 {
  background: beige;
}

.rightbottomsection5 {
  background: rgb(20, 20, 20);
  color: white;
}

.subscribesection h3 {
  margin: 0;
  text-align: center;
}

.subscribesection {
  padding: 100px 80px;
  padding-top: 80px;
  text-align: center;
  background: rgba(138, 87, 87, 0.933);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.subscribesection h3 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}

#credit {
  margin-top: 10px;
  font-size: 8px;
}

.seemoresection p {
  padding-bottom: 25px;
}

.section5form input {
  display: block;
  width: 80%;
  margin: 0px auto 10px auto;
  padding: 12px;
  font-size: 14px;
  border: 2px black solid;
}

.seemoresection {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    rgba(255, 254, 251, 0.98),
    rgba(255, 253, 235, 0.853)
  );
  margin: 0%;
  padding: 20px 0px;
}

.seemoresection h4,
p {
  margin: 0%;
}

.seemoresection h4 {
  font-size: 40px;
  font-style: italic;
  font-weight: 200;
  padding-top: 20px;
}

.section5form input:focus {
  outline: 1px black solid;
}

.section5form {
  background: rgba(41, 41, 39, 0.288);
  padding: 20px;
  padding-top: 50px;
  width: 80%;
  margin: 15px auto 0px auto;
}

.rowtablewithtitle {
  color: white;
  text-align: center;
  flex: 1;
}

#lastrowimg {
  max-height: 220px;
}

.rowtablewithtitle table {
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  border-bottom: 1px white solid;
  justify-content: center;
  padding-bottom: 30px;
}

.rowimg {
  margin-top: 20px;
}

#whiteine {
  width: 80%;
}

#rowimgpeople {
  padding-bottom: -50px;
  margin-bottom: 0;
}

.additionalresources {
  background: rgb(20, 20, 20);
  padding-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.takemehere {
  display: inline-block;
  border: rgb(0, 0, 0) 1px solid;
  background: rgb(255, 248, 240);
  margin-bottom: 20px;
}

.takemehere a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 10px 20px;
}

.row:last-child {
  margin-top: 20px;
}

.row img {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}

.row h4 {
  font-weight: 200;
  font-size: 18px;
}

.row table td {
  padding: 15px;
  color: rgb(197, 210, 252);
  font-size: 14px;
  cursor: pointer;
}

.row a {
  color: rgb(217, 233, 255);
}

.rowseemore {
  margin-top: 35px;
}

.rowseemore a {
  color: black;
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
}

.cellmore {
  border: 1px black solid;
  display: inline-block;
  background: rgb(255, 244, 231);
}

.cellmore:not(:last-child) {
  margin-right: 20px;
}

.textaligngotopnext {
  background: rgb(20, 20, 20);
  padding-top: 12px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.textaligngotopnext a,
.fa-long-arrow-alt-right {
  color: white;
}

.fa-long-arrow-alt-right,
.fa-long-arrow-alt-up {
  margin-left: 5px;
}

.flexwrapperfooterpartnericons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexwrapperfooterpartnericons img {
  padding: 0px 80px;
}

.footer {
  background: rgb(241, 247, 255);
  color: rgb(0, 0, 0);
  border-top: 3px black solid;
  text-align: center;
}

.footer img {
  margin: 0px 10px;
  width: 110px;
}

.footer h4 {
  margin: none;
}

.footer img {
  margin: none;
}

.section5form button {
  padding: 20px 50px;
  margin-top: 10px;
  background: white;
  border: 2px black solid;
}

.section5form button:hover {
  background: rgb(211, 211, 211);
  transition: 1s;
}

.section5form {
  text-align: center;
}

.flexwrapperfootericons .fa {
  margin: 0px 25px;
  margin-top: 1px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 24px;
  color: rgb(47, 65, 100);
}

#association {
  padding-bottom: 15px;
  font-size: 14px;
}

.footer h4 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-bottom: 5px;
}

#copyright {
  padding-right: 10px;
}

i {
  color: white;
}

.fa-bars,
.fa-window-close {
  display: none;
}

.fa-bars {
  flex: 1;
  text-align: right;
  font-size: 30px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  #maintitle {
    font-size: 72px;
    font-style: italic;
    font-weight: 300;
    margin: 0%;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-left: 0%;
    padding-right: 0%;
  }

  #maintitletwo {
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  #maintitlethree {
    font-size: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 240, 153);
    font-style: italic;
    font-weight: 500px;
  }

  .fa-bars,
  .fa-window-close {
    display: block;
  }

  .fa-bars {
    padding: 0;
    margin-left: 20px;
  }

  .navbar {
    position: absolute;
    background: rgba(42, 46, 56, 0.988);
    top: 0%;
    right: -400px;
    width: 40%;
    height: 100%;
  }

  .fa-window-close {
    float: right;
    padding-right: 20px;
    padding-top: 30px;
  }

  .clr {
    clear: both;
  }

  .sq img {
    width: 300px;
    height: 200px;
  }

  .section30 img {
    width: 300px;
    height: 200px;
  }

  .searchbar {
    border: rgb(255, 255, 255) 3px solid;
    padding: 6px;
    background: transparent;
    border-radius: 50px;
  }

  #homedisplaybtn1 a,
  #homedisplaybtn2 a {
    display: inline-block;
    width: 150px;
    padding: 25px 0px;
    text-decoration: none;
    color: white;
  }

  #homedisplaybtn1,
  #homedisplaybtn2 {
    margin: 0px 20px;
  }

  .homedisplay {
    padding-top: 30px;
  }

  .websitelogo {
    width: 80px;
    height: 80px;
  }

  .headertext {
    font-style: italic;
    color: white;
    padding-left: 20px;
    font-size: 10px;
  }

  .section1p5 {
    background: url("../wdimages/michiokaku.jpg") no-repeat 90% 40%;
    background-size: cover;
    height: 1080px;
    margin: 0%;
  }

  .flexwrapper20 {
    flex-direction: column;
  }

  .leftsection20 {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }

  .rightsection20 {
    width: 90%;
    margin: auto;
  }

  .underflexcontainer {
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
  }

  .underbox {
    width: 90%;
    border: 1px black solid;
    padding: 20px;
    margin: 10px 20px;
    box-sizing: border-box;
  }

  .s1p5text {
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    width: 100%;

    padding: 20px;
    box-sizing: border-box;
    min-width: 200px;
  }

  .flexwrapper30 {
    display: flex;
    flex-direction: column;
  }

  .box30 {
    width: 80%;
    text-align: center;
    margin: 20px auto 20px auto;
  }

  .section30 img {
    width: 100%;
  }

  .box40 {
    background: rgba(216, 184, 39, 0.507);
    margin: 10px 30px;
    text-align: center;
    width: 80%;
  }

  .explorefacility {
    display: inline-block;
    background: purple;
    border: yellow 2px solid;
  }

  .explorefacility a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
  }

  .postflexwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .postbox {
    width: 80%;
    border: 1px white solid;
    padding: 20px;
    margin: 10px auto 10px auto;
  }

  .section5flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftsection5 {
    width: 100%;
  }

  .rightsection5 {
    width: 100%;
  }

  .newsletter input {
    font-size: 12px;
  }

  .subscribesection {
    padding: 60px 40px;
  }

  .multiplecontain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sq {
    margin: 10px 30px;
    border-radius: 20px;
    width: 80%;
  }

  .section3 img {
    width: 100%;
    height: 100%;
  }

  .s3alignbtn {
    font-size: 12px;
  }

  .flexwrapper40 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .package40 {
    margin: 0;
    margin-bottom: 20px;
  }

  .package40 img {
    width: 310px;
    height: 100%;
  }

  .row {
    flex-direction: column;
  }

  .rowimg {
    padding-top: 20px;
  }

  .flexwrapperfooterpartnericons img {
    padding: 0px 0px;
  }

  .textaligngotopnext {
    background: rgb(20, 20, 20);
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #gotop {
    margin-bottom: 40px;
  }

  .navbar ul {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0%;
  }

  .navbar a {
    padding: 0;
    margin: 0%;
  }

  .placeholder {
    width: 70px;
  }

  .navbar li {
    margin-bottom: 35px;
    margin-top: 35px;
  }

  #maintitlethree {
    margin-top: 5px;
  }
}
